KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

# we have files that are arch specific that we want to ignore
# because they're explicitly built in our makefile.
ARCH_FILES_TO_IGNORE:= \
"crtn.s" \
"crti.s" 

IGNORE_FILES_EXPRESSION:=$(foreach file,$(ARCH_FILES_TO_IGNORE),-and ! -name $(file))

# here we find our .s and .c files, excluding the ones listed above,
# we change their extension and pass them back to make with the .o extension.
KERNEL_ARCH_C_FILES:=$(shell find $(ARCHDIR) -name "*.c")
KERNEL_ARCH_S_FILES:=$(shell find $(ARCHDIR) -name "*.s" $(IGNORE_FILES_EXPRESSION))
KERNEL_ARCH_OBJS:= \
$(patsubst %.s,%.o,$(KERNEL_ARCH_S_FILES)) \
$(patsubst %.c,%.o,$(KERNEL_ARCH_C_FILES)) 

