KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/boot_gdt.o \
$(ARCHDIR)/boot_isr_handler.o \
$(ARCHDIR)/boot_irq_handler.o \
$(ARCHDIR)/boot_idt.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/isr_handler.o \
$(ARCHDIR)/irq_handler.o \
$(ARCHDIR)/keyboard.o \

